<div class="color-block-text" id="{{id}}">
    <div class="image">
        {{#if link}}<a href="{{link}}">{{/if}}<img src="{{image}}" alt="">{{#if link}}</a>{{/if}}
    </div>
    <div class="text">
        <a href="{{#if link}}{{link}}{{else}}#{{/if}}">
            <h4>{{title}}</h4>
            {{{description}}}
            {{#if link}}
            <span class="text-link">{{button_text}}</span>
            {{/if}}
        </a>
    </div>
</div>