<li class="item" id="item-{{ID}}" data-map-info='{"position": {"lat": {{latitude}},"lng": {{longitude}}},"image": "{{#if communities logo_src}}{{logo_src}}{{/if}}{{#unless communities}}{{#if featured_image}}{{featured_image}}{{else}}/wp-content/themes/bokka-wp-theme-child/assets/build/images/home-background-faded_536x246.jpg{{/if}}{{/unless}}","title": "{{post_title}}","permalink": "{{permalink}}","directions": "https://www.google.com/maps/dir/Current+Location/{{latitude}},{{longitude}}","secondary": "{{#if communities}}{{types}} <br>from the ${{base_price}}s{{/if}}{{#unless communities}}{{#if floorplan}}{{#with floorplan}}{{type}}{{/with}}{{/if}} <br>{{neighborhood_name}} in {{city}}{{/unless}}","button_label": "{{#unless home}}{{post_title}}{{/unless}}{{#if home}}this home{{/if}}","plan":"{{#if home}}{{floorplan.post_title}}{{/if}}"}'> <!-- end li.item -->
    <article >
        <header>
            <div class="header">
                <figure class="image">

                    {{#if status_label}}
                        {{#unless open}}
                        <div class="status {{status}}">
                            {{status_label}}
                        </div>
                        {{/unless}}
                    {{/if}}

                    {{#if featured_image}}
                        <a href="{{permalink}}"><img src="{{featured_image}}" alt=" " width="268" height="123"></a>
                    {{else}}
                        <a href="{{permalink}}"><img src="/wp-content/themes/bokka-wp-theme-child/assets/build/images/home-background-faded_536x246.jpg" alt=" " width="268" height="123" class="fallback"></a>
                    {{/if}}
                    {{#if home}}
                    <figcaption class="caption">{{floorplan.post_title}}</figcaption>
                    {{/if}}
                </figure>
                <div class="title">
                    <h4><a href="{{permalink}}">{{post_title}}</a></h4>
                    {{#if communities}}
                        {{#if city state}}
                            <p class="location">in {{city}}, {{state}}</p>
                        {{/if}}
                    {{/if}}
                    {{#if neighborhood_name}}
                        <p class="location">at {{neighborhood_name}}</p>
                    {{/if}}
                    {{#if home}}
                        <p class="details">{{type}}</p>
                        <p class="details">{{#if bedrooms}}{{bedrooms}} bed{{/if}}{{#if bathrooms}}, {{bathrooms}} bath{{/if}}{{#if finished_sqr_ft}} <br>{{finished_sqr_ft}}&nbsp;sq.&nbsp;ft{{/if}} <br>{{#if price}}${{price}}{{/if}}</p>
                    {{/if}}
                    {{#if model}}
                        {{#if floorplan}}
                            {{#with floorplan}}
                                <p class="details">{{type}}</p>
                            {{/with}}
                        {{/if}}
                        {{!-- The following must be formatted as a single line - adding line breaks/indentation causes spaces --}}
                        <p class="details">{{#if bedrooms_min}}{{bedrooms_min}}{{#if bedrooms_max}}-{{bedrooms_max}}{{/if}} bed{{/if}}{{#if bathrooms_min}}, {{bathrooms_min}}{{#if bathrooms_max}}-{{bathrooms_max}}{{/if}} bath{{/if}}{{#if main_sqr_ft}} <br>{{main_sqr_ft}}&nbsp;sq.&nbsp;ft{{/if}}</p>
                    {{/if}}
                    {{#if communities}}
                        <p class="details">{{types}} <br>from the ${{base_price}}s</p>
                    {{/if}}
                </div>
            </div>
        </header>
        <div class="body">
            {{#if model floorplan}}
            <div class="features">
            {{#with floorplan}}
            <ul>
                {{#each features}}
                <li>{{feature}}</li>
                {{/each}}
            </ul>
            {{/with}}
            </div>
            {{/if}}
            {{#if communities description}}
            <p>{{description}}</p>
            {{/if}}
            <a href="{{permalink}}" class="button green more-details">{{#if communities}}Explore Neighborhood{{/if}}{{#if model}}Explore Model Home{{/if}}{{#if home}}Explore Home Details{{/if}}</a>
        </div>
    </article>
</li>