<li class="product-item {{post_type}}">
    <a href="{{permalink}}">
        <div class="image">
            {{#if featured_image}}
                <img src="{{featured_image}}" alt="">
            {{else}}
                <img src="/wp-content/themes/bokka-wp-theme-child/assets/build/images/home-background-faded.jpg" alt="">
            {{/if}}
        </div>
        {{!-- only show price for QMIs --}}
        {{#if ../home}}
            {{#if price}}
                <div class="price">
                    ${{price}}
                </div>
            {{/if}}
        {{/if}}
        <div class="title">
            {{post_title}}
            <br>
            <span>
                {{!-- if it's a floorplan show it's features --}}
                {{#each features}}
                    {{#if @first}}
                        <span>{{feature}}</span>
                    {{/if}}
                {{/each}}
                {{!-- if it's a model or QMI get it's features from it's floorplan --}}
                {{#if floorplan.features}}
                    {{#each floorplan.features}}
                        {{#if @first}}
                            <span>{{feature}}</span>
                        {{/if}}
                    {{/each}}
                {{/if}}
            </span>
        </div>
        <div class="stats">
            <ul>
                {{#unless ../home}}
                    {{#if bedrooms_min}}
                        <li>{{bedrooms_min}}
                            {{#if bedroom_max}}
                                &dash; {{bedrooms_max}}
                            {{/if}}
                            <div class="label">Beds</div>
                        </li>
                    {{/if}}
                {{/unless}}
                {{#if ../home}}
                    {{#if bedrooms}}
                        <li>{{bedrooms}}
                            <div class="label">Beds</div>
                        </li>
                    {{/if}}
                {{/if}}
                {{#unless ../home}}
                    {{#if bathrooms_min}}
                        <li>{{bathrooms_min}}
                            {{#if bathrooms_max}}
                                &dash; {{bathrooms_max}}
                            {{/if}}
                            <div class="label">Baths</div>
                        </li>
                    {{/if}}
                {{/unless}}
                {{#if ../home}}
                    {{#if bathrooms}}
                        <li>{{bathrooms}}
                            <div class="label">Baths</div>
                        </li>
                    {{/if}}
                {{/if}}
                {{#if main_sqr_ft}}
                    <li>{{main_sqr_ft}}
                        <div class="label">SQ.FT.</div>
                    </li>
                {{/if}}
            </ul>
        </div>
    </a>
</li>

