<div class="section location-listings">
    <section>
        <div class="container">
            {{#each locations}}
                <div class="item">
                    <h2>
                        {{#if neighborhood_url}}
                            <a href="{{neighborhood_url}}">
                                {{title}}
                            </a>
                        {{else}}
                            {{title}}
                        {{/if}}
                    </h2>
                    <div class="content">
                        <div class="image">
                            <img src="{{image}}">
                        </div>
                        <div class="body">
                            <div class="contact-info">
                                {{#if phone}}
                                    <div class="phone">
                                        <i class="icon icon-footer-phone"></i>
                                        <a href="tel:{{phone}}">{{phone}}</a>
                                    </div>
                                {{/if}}

                                <div class="address">
                                    <i class="icon icon-footer-locations"></i>
                                    <a target="_blank" href="http://www.google.com/maps/place/{{latitude}},{{longitude}}">
                                        {{address_1}}<br>
                                        {{#if address_2}}
                                            {{address_2}}<br>
                                        {{/if}}
                                        {{city}}, {{state}} {{zip}}
                                    </a>
                                </div><!-- /address -->

                            </div><!-- /contact-info -->

                            <div class="hours">
                                {{#if hours}}
                                    <span class="title">Hours:</span> 
                                    {{{hours}}}
                                {{/if}}

                                <a class="button fancy-trigger" href="#contact-us">Contact Us</a>
                                
                            </div>
                        </div><!-- /body -->
                    </div><!-- /content -->
                </div><!-- /item -->
            {{/each}}

            <div class="modal-content">
                <div id="contact-us">
                    {{{form}}}
                </div>
            </div>

        </div><!--/container-->
    </section>
</div><!--/location-listings-->
