<!-- mp-menu -->
<div id="mp-menu" class="mp-menu closed mp-overlap">
    <div class="main-title">
        <a href="/">
            <div class="image">
                <img src="/wp-content/themes/bokka-wp-theme/assets/build/images/bcn-logo.png" alt="">
            </div>
        </a>
        <a href="#" class="menu-trigger">
            <i class="icon icon icon-exit-circle"></i>
        </a>
    </div>
    <nav>

        <div class="mp-level container">
            <div class="back icon-back">
                BACK
            </div>
            <ul>
                {{#each links}}
                    <li class="{{class}} icon-arrow-left">
                        <a class="icon icon-{{class}}" href="#">{{title}}</a>
                        <div class="mp-level"  >
                            <div class="title">
                                <h2 class="icon icon-{{class}}">{{title}}</h2>
                                {{#if overview}}
                                    <a class="overview desktop" href="{{overview.url}}">{{overview.title}}</a>
                                {{/if}}
                            </div>
                            <a class="icon-display" href="#">{{title}}</a>
                            <ul>
                                {{#each subnav}}
                                    <li class="icon-arrow-left">
                                        <a class="icon-phone" href="{{link}}">{{title}}
                                            {{#if city}}
                                                in {{city}}
                                            {{/if}}
                                            {{#if price}}
                                                <span>
                                                    Town homes from the {{price}}'s
                                                </span>
                                            {{/if}}
                                        </a>
                                    </li>
                                {{/each}}
                            </ul>
                        </div><!--/mp-level-->
                    </li>
                {{/each}}
            </ul>
        </div><!--/mp-level-->
    </nav>
</div>