<div class="section neighborhood-brandwindow">
    <section>
        <div class="container">
            <div class="image">
                <img src="{{featured_image}}" alt="">
            </div>
            <div class="text">

                {{#unless open}}
                <div class="status status-header">
                    {{status_label}}
                </div>
                {{/unless}}

                <div class="header">
                    <span>
                        {{#each types}}
                            {{#if @first}}
                              {{! the below line is a little crazy but formats a list into the following style "x, y & z"}}
                              {{this}}{{else}}{{#if @last}}{{#unless @first}} & {{this}}{{/unless}}{{else}}, {{this}}{{/if}}
                            {{/if}}
                        {{/each}}
                        {{#if base_price}}
                            From the ${{base_price}}</span><span class="lowercase">s</span>
                        {{else}}
                            </span>
                        {{/if}}
                    <header>
                        <h1>
                            {{post_title}}
                        </h1>
                        <h3>{{city}},{{state}}</h3>
                    </header>
                </div>
                <div class="nav">
                    {{#if coming_soon}}
                        <a href="#request_info_form" class="coming-soon button modal-trigger" data-wrapclass="request-info-wrapper" data-width="560">Sign Up For Updates Now</a>
                    {{else}}
                        <ul>
                            <li><a href="#product-listings" class="button">See Homes</a></li>
                            <li><a href="#request_info_form" class="button modal-trigger" data-wrapclass="request-info-wrapper" data-width="560">Get Updates</a></li>
                            <li><a href="#map-with-info" class="button">View Location</a></li>
                        </ul>
                    {{/if}}

                </div>
            </div>
        </div>
    </section>
</div>
