<div class="section coming-soon-map">
    <section>
        <div class="container">
            <div class="text">
                <div class="title">
                    <h3>Coming soon to {{city}},{{state}}</h3>
                    <div class="body">
                        <p>
                            Become a {{post_title}} insider to be among the first to see new floor plans, get pricing information and be invited to excusive open houses and VIP invitation-only events.
                        </p>
                    </div>
                    <a href="#request_info_form" class="button modal-trigger">Get Updates</a>
                </div>

            </div>
            {{#if latitude}}{{#if longitude}}
            <div class="map google-map-wrapper coming-soon">
                <div class="google-map js-model-map"
                     data-options='{"center":{ "lat": {{latitude}}, "lng": {{longitude }} }, "zoom": 14 }'
                     data-mappins='{"markers":[{ "title": "{{post_title}}" ,"position": {"lat":{{latitude}}, "lng":{{longitude}} }, "link":"http://www.google.com/maps/place/{{latitude}},{{longitude}}" }]}'>

                </div>
            </div>
            {{/if}}{{/if}}
        </div>
    </section>
</div>