{{#if latitude}}
    {{#if longitude}}
        <div class="section map-with-info" id="map-with-info">
            <section>
                <div class="google-map-wrapper" >
                    <div class="google-map js-model-map"
                         data-options='{"center":{ "lat": {{latitude}}, "lng": {{longitude }} }, "zoom": {{zoom}} }'
                         data-mappins='{"markers":[{"position": {"lat":{{latitude}}, "lng":{{longitude}} }, "link":"http://www.google.com/maps/place/{{latitude}},{{longitude}}" }]}'></div>
                </div>
                <div class="container">
                    <div class="text">
                        <div class="title">
                            <h3>Stop By For A Visit</h3>
                        </div>
                        <div class="body">
                            <div class="section">
                                <h4>Address</h4>
                                <a class="directions" target="_blank" href="http://www.google.com/maps/place/{{latitude}},{{longitude}}">
                                    {{address_1}}<br>
                                    {{#if address_2}}{{address_2}}<br>{{/if}}
                                    {{city}}, {{state}} {{zip}}
                                </a>
                            </div>
                            <div class="section">
                                <h4>Hours</h4>
                                <p>
                                   {{hours}}
                                </p>
                            </div>
                            <div class="section">
                                <h4>Phone</h4>
                                <a class="phone" href="tel:{{phone}}">{{phone}}</a>
                            </div>
                            {{#if sale_team_members}}
                                <h4>Sales Team</h4>
                                <ul class="sale_team_members">
                                    {{#each sale_team_members}}
                                        <li>
                                            <div class="image">
                                                <img src="{{image}}" alt="">
                                            </div>
                                            <div class="title">
                                                {{name}}
                                            </div>
                                        </li>
                                    {{/each}}
                                </ul>
                            {{/if}}
                            <a class="directions button" target="_blank" href="http://www.google.com/maps/place/{{latitude}},{{longitude}}" >Get Directions</a>
                            {{#if legal}}<p class="legal">{{legal}}</p>{{/if}}
                        </div>
                    </div>
                </div>
            </section>
        </div>
    {{/if}}
{{/if}}
