<div class="listings-wrap product-tabs">
    <div class="tab-header-wrap">
        <div class="tab-header">
            {{#each tabs}}
            <div class="product-tab-header {{#if class}}tab-header-{{class}}{{/if}}">
                <h2>{{title}}</h2>
                <p>{{copy}}</p>
            </div>
            {{/each}}
        </div>
        <div class="product-tab-links">
            <ul>
                {{#each tabs}}
                    <li class="tab {{class}} {{#if products}}active{{/if}}" {{#if class}}data-breadcrumb="{{class}}"{{/if}}><a href="{{#if permalink}}{{permalink}}{{else}}#{{/if}}">{{tab_title}}</a></li>
                {{/each}}
            </ul>
        </div>
    </div>
    <ul class="product-tab-bodies">
        {{#each tabs}}
            <li class="tab-body {{#if class}}tab-body-{{class}}{{/if}}">
                {{!--- THIS IS FOR NEIGHBORHOODS--}}
                {{#if products}}
                    <ul>
                        {{#each products}}
                            {{> molecules/blocks/overview-card.handlebars}}
                        {{/each}}
                    </ul>
                {{/if}}
                {{!-- THIS IS FOR QMI & MODELS --}}
                {{#if neighborhoods}}
                    <ul>
                        {{#each neighborhoods}}
                            <li class="item-group">
                                <h3><span>{{title}}</span></h3>
                                <ul>
                                    {{#each products}}
                                        {{> molecules/blocks/overview-card.handlebars}}
                                    {{/each}}
                                </ul>
                            </li>
                        {{/each}}
                    </ul>
                {{/if}}
            </li>
        {{/each}}
    </ul>
    <div class="more">
        <a href="/our-homes/model-homes/" class="button purple see-models">See Model Homes</a>
        <a href="/our-neighborhoods" class="button purple see-neighborhoods">Our Neighborhoods</a>
        <a href="/our-homes/quick-move-in-homes/" class="button purple see-qmi">See Quick Move-ins</a>
    </div>
</div><!--/listings-wrapper-->
