{{#if qmi_product}}
<div id="{{id}}" class="section qmi-product {{#if background_color}}bg-{{background_color}}{{/if}}">
    <section>
        <div class="container">
            <h4>{{title}}</h4>
            <ul class="product-listing container">
                {{#each qmi_product}}
                <li class="product-item {{post_type}}">
                    <div class="image">
                        {{#if featured_image}}
                            <img src="{{featured_image}}" alt="">
                        {{else}}
                            <img src="/wp-content/themes/bokka-wp-theme-child/assets/build/images/home-background-faded.jpg" alt="">
                        {{/if}}
                    </div>
                    {{#if price}}
                    <div class="price">
                        ${{price}}
                    </div>
                    {{/if}}
                    <div class="title">
                        {{floorplan.type}}
                        <br>
                        <span>{{neighborhood}} in {{city}}</span>
                    </div>
                    <div class="stats">
                        <ul>
                            {{#if bedrooms}}
                                <li>{{bedrooms}}
                                    <div class="label">Beds</div>
                                </li>
                            {{/if}}
                            {{#if bathrooms}}
                                <li>{{bathrooms}}
                                    <div class="label">Baths</div>
                                </li>
                            {{/if}}
                            {{#if main_sqr_ft}}
                                <li>{{main_sqr_ft}}
                                    <div class="label">SQ.FT.</div>
                                </li>
                            {{/if}}
                        </ul>
                    </div>
                </li>
                {{/each}}
            </ul>
        </div> <!--/container-->
    </section>
</div><!--/qmi-product-->
{{/if}}