<div id="{{id}}" class="section slider-gallery bg-purple">
    <section>
        <div class="container">
            <div class="title">
                <h2>{{title}}</h2>
            </div>
            <div class="slider">
                <ul class="slides">
                    {{#each gallery}}
                        <li class="slide">
                            <div class="image">
                                <figure>
                                    <img src="{{url}}" alt="">
                                </figure>
                            </div><!--/image-->
                        </li><!--/slide-->
                    {{/each}}
                </ul><!--/slides-->
                {{#if controls}}
                    <ul class="controls">
                        <li class="previous">
                            <a href="">
                                <span class="icon icon-slider-previous"></span>
                            </a>
                        </li>
                        <li class="next">
                            <a href="">
                                <span class="icon icon-slider-next"> </span>
                            </a>
                        </li>
                    </ul>
                {{/if}}
            </div>

            {{#if description}}
                <div class="body">
                    {{{description}}}
                </div>
            {{/if}}

            {{#if button_text}}
                <a href="#formModal" class="button green modal-trigger">
                    {{button_text}}
                </a>
            {{/if}}

        </div><!--/container -->
    </section>
</div><!--/slider-gallery-->
