<div class="section tab-gallery" id="tab-gallery">
    <div class="container">
        <div class="tabs">
            <div class="tab-gallery-tabs tab-links">
                <ul>
                    {{#each tabs}}
                        <li class="{{#if @first}}active{{/if}} tab"><a  href="#">{{title}}</a></li>
                    {{/each}}
                </ul>
            </div> <!-- tab-gallery-tabs -->
            <ul class="tab-gallery-images tab-bodies">
                {{#each tabs}}
                    <li class="tab-gallery-images-wrapper tab-body">
                        <div class="title">
                            <h3>{{title}}</h3>
                        </div>
                        <a href="{{image.sizes.full}}" target="_blank"><img src="{{image.src}}" /></a>
                    </li> <!-- tab-gallery-images-wrapper -->
                {{/each}}

            </ul> <!-- tab-gallery-images -->
            {{#if pdf}}
            <div class="tab-gallery-button-wrapper">
                {{#if floorplan}}
                    {{#if pdf}}
                        <a class="button yellow fancy-trigger" data-wrapclass="get-brochure-wrapper" data-width="415" href="#get_brochure_form">Get Brochure</a>
                    {{/if}}
                {{else}}
                    <a class="button" target="_blank" href="{{pdf}}">Download &amp; Print </a>
                {{/if}}
                {{#if neighborhood_link}}
                    <h4><a class="text-link" href="{{neighborhood_link}}#product-listings">Browse more floorplans at {{neighborhood_title}}&nbsp;&raquo;</a></h4>
                {{/if}}
            </div> <!-- tab-gallery-button-wrapper -->
            {{/if}}
        </div><!--/tabs-->
    </div><!--/container-->
</div> <!-- tab-gallery-wrapper -->