<div class="section tabbed-product-listings" id="product-listings">
    <section>
        <div class="tabs">
            <div class="tab-gallery-tabs tab-links">
                <ul class="container">
                    {{#each tabs}}
                        <li class="{{#if @first}}active{{/if}} tab" {{#if id}}id="tab-{{id}}"{{/if}}><a href="#">{{title}}</a></li>
                    {{/each}}
                </ul>
            </div> <!-- tab-gallery-tabs -->
            <ul class="tab-bodies">
                {{#each tabs}}
                    <li class="tab-body">
                        <div class="title">
                            <h3>
                                {{title}}
                            </h3>
                        </div>
                        {{#each types}}
                            {{#if products}}
                                <div class="type">
                                    <h3>{{title}}
                                        {{#if plans}}
                                            from the ${{price}}<span class="lowercase">s</span>
                                        {{/if}}
                                    </h3>
                                    <ul class="product-listing container">
                                        {{#each products}}
                                            {{>molecules/blocks/product-item}}
                                        {{/each}}
                                    </ul>
                                </div>
                            {{/if}}
                        {{/each}}
                    </li> <!-- tab-gallery-images-wrapper -->
                {{/each}}
            </ul> <!-- tab-bodies -->
        </div><!--/tabs-->
    </section>
</div>
