<div id="{{id}}" class="section text-block-w-bgimage{{#if max_width}} width-{{max_width}}{{/if}}" style="background-image:url('{{image}}');">
    <section>
        <div class="container">
            {{#if title}}
                <div class="title">
                    <h2>{{title}}</h2>
                </div>
            {{/if}}
            <div class="body">
                {{{description}}}
            </div>
        </div>
    </section>
</div><!--/text-block-w-bgimage-->