<div id="{{id}}" class="section custom-cta-w-modal-form">
    <section>
        <div class="container">
            <div class="cta-wrapper">
                <div class="inner">
                    <h2>{{title}}</h2>
                    <p>{{subtitle}}</p>
                    <a href="#cta-form" class="button modal-trigger" data-wrapclass="request-info-wrapper" data-width="560">{{button_text}}</a>
                </div>
            </div>
            <div id="cta-form" class="request-info-form" style="display:none">
                {{{gform}}}
            </div>
        </div>
    </section>
</div>
