<div id="{{id}}" class="section map-w-locations">
    <section>
        <div class="container">
            <h2>{{title}}</h2>

            <div class="map-wrap">
                <div class="map google-map-wrapper locations-map">
                    <div class="google-map js-locations-map">
                    </div>
                </div>
            </div><!--/map-wrap -->

            {{#each item}}
                <div class="location-info" data-map-info='{"position": {"lat": {{latitude}},"lng": {{longitude}}},"title": "{{title}}","secondary": "{{sub_title}}"}'></div>
            {{/each}}

            {{{description}}}

            {{#if button}}
                <a href="#campaign_vip_form" class="button js-page-jump">
                    {{button_text}}
                </a>
            {{/if}}

        </div><!--/container -->
    </section>
</div><!--/map-w-locations-->