<div class="section masonry-gallery" id="{{#if id}}{{id}}{{else}}masonry-gallery{{/if}}">
    <section>
        <div class="container">
            {{#if items}}
                <ul class="masonry-items">
                    {{#each items}}
                        <li class="masonry-item {{#if video}}video{{else}}image{{/if}}">
                            <a class="fancybox-masonry {{#if video}}fancybox.iframe{{/if}}" rel="masonry-gallery" href="{{#if video}}{{embed_url}}{{else}}{{image}}{{/if}}" {{#unless video}}title="{{caption}}"{{/unless}}>
                                {{#if video}}
                                <img src="{{thumbnail}}" alt=" ">
                                <span class="icon icon-play"></span>
                                {{else}}
                                <img src="{{image}}" alt=" ">
                                <span class="icon icon-zoom-in"></span>
                                {{/if}}
                            </a>
                        </li>
                    {{/each}}
                </ul>
            {{/if}}
        </div>
    </section>
</div>

<div class="hidden_forms">
    <a class="fancybox-masonry" rel="masonry-gallery" href="#modal_gallery_form"></a>
    <div id="modal_gallery_form" class="modal-gallery-form" {{#if neighborhood}}data-community-name="{{neighborhood}}"{{/if}} {{#if product-type}}data-product-type="{{product-type}}"{{/if}}>
        {{{form}}}
    </div>
</div>