<li class="product-item {{post_type}}">
    <a href="{{permalink}}">
        {{#if ../plans}}
        <div class="title above">
            {{post_title}}
        </div>
        {{/if}}

        <div class="image">
            {{#if status_message}}
            <div class="product-status">
                {{status_message}}
            </div>
            {{/if}}
            {{#if featured_image}}
                <img src="{{featured_image}}" alt="">
            {{else}}
                <img src="/wp-content/themes/atom-child/assets/build/images/home-background-faded.jpg" alt="">
            {{/if}}
        </div>
        {{!-- only show price for QMIs --}}
        {{#if ../home}}
            {{#if price}}
                <div class="price">
                    ${{price}}
                </div>
            {{/if}}
        {{/if}}

        {{#if ../plans}}
            {{#if features}}
                <div class="title">
                    <span>
                        {{#each features}}
                            {{#if @first}}
                                <span>{{feature}}</span>
                            {{/if}}
                        {{/each}}
                    </span>
                </div>
            {{/if}}
        {{else}}
            <div class="title">
                {{post_title}}
                <br>
                <span>
                    {{!-- if it's a model or QMI get it's features from its floorplan --}}
                    {{#if floorplan.features}}
                        {{#each floorplan.features}}
                            {{#if @first}}
                                <span>{{feature}}</span>
                            {{/if}}
                        {{/each}}
                    {{/if}}
                </span>
            </div>
        {{/if}}

        <div class="stats">
            <ul>
                {{#if ../plans}}
                    {{#if bedrooms_min}}
                        <li>{{bedrooms_min}}
                            {{#unless ../models}}
                                {{#if bedrooms_max}}
                                    &ndash; {{bedrooms_max}}
                                {{/if}}
                            {{/unless}}
                            <div class="label">Beds</div>
                        </li>
                    {{/if}}
                {{/if}}
                {{#if ../model}}
                    {{#if bedrooms_min}}
                        <li>{{bedrooms_min}}
                            <div class="label">Beds</div>
                        </li>
                    {{/if}}
                {{/if}}
                {{#if ../home}}
                    {{#if bedrooms}}
                        <li>{{bedrooms}}
                            <div class="label">Beds</div>
                        </li>
                    {{/if}}
                {{/if}}

                {{#if ../model}}
                    {{#if bathrooms_min}}
                        <li>{{bathrooms_min}}
                            <div class="label">Baths</div>
                        </li>
                    {{/if}}
                {{/if}}
                {{#if ../home}}
                    {{#if bathrooms}}
                        <li>{{bathrooms}}
                            <div class="label">Baths</div>
                        </li>
                    {{/if}}
                {{/if}}

                {{#if ../plans}}
                    {{#if main_sqr_ft}}
                        <li>{{main_sqr_ft}}
                            {{#if finished_sqr_ft}}
                                &ndash; {{finished_sqr_ft}}
                            {{/if}}

                            <div class="label">SQ.FT.</div>
                        </li>
                    {{/if}}
                {{else}}
                    {{#if main_sqr_ft}}
                        <li>{{main_sqr_ft}}
                            <div class="label">SQ.FT.</div>
                        </li>
                    {{/if}}
                {{/if}}
            </ul>
        </div>
    </a>
</li>
