<div class="section floorplan-brand-window">
    <section>
        <div class="container">
            <div class="plan-window-right">
                <div class="gallery-wrapper slider" data-options='{"height":"container"}'>
                    <ul class="image-gallery slides">
                        {{#each gallery}}
                            <li class="slide">
                                <img src="{{url.full}}" />
                                <div class="overlay"></div>
                                {{#if caption}}
                                    <p class="image-gallery-caption">{{caption}}</p>
                                {{/if}}
                            </li>
                        {{/each}}
                    </ul>

                    <ul class="image-thumbnails pagination">
                        {{#each gallery}}
                            <li class=" {{#if @first}}current{{/if}}"><a href="#"><img src="{{url.thumbnail}}" /></a></li>
                        {{/each}}
                    </ul>
                </div> <!-- gallery-wrapper -->
            </div> <!-- plan-window-right -->
            <div class="plan-window-left">
                <div class="plan-meta">
                    <div class="plan-meta-top">
                        <h2 class="plan-meta-name">{{post_title}}</h2>
                        <h3 class="plan-meta-plan-name">{{type}}</h3>
                        <h3 class="plan-meta-community-name">{{neighborhood}}</h3>
                    </div> <!-- plan-meta-top -->
                    <div class="plan-meta-bottom">
                        <ul class="plan-amenities">
                            <li>
                                <i class="icon icon-beds"></i>
                                <span>
                                    {{bedrooms_min}}
                                    {{#if bedroom_max}}
                                        &ndash; {{bedrooms_max}}
                                    {{/if}}
                                </span>Bedrooms
                            </li>
                            <li>
                                <i class="icon icon-baths"></i>
                                <span>
                                    {{bathrooms_min}}
                                    {{#if bathrooms_max}}
                                        &ndash; {{bathrooms_max}}
                                    {{/if}}
                                </span>Baths
                            </li>
                            <li>
                                <i class="icon icon-garage"></i>
                                <span>
                                    {{garage_min}}
                                    {{#if garage_max}}
                                        &ndash; {{garage_max}}
                                    {{/if}}
                                </span>Car Garage
                            </li>

                            <li>
                                <i class="icon icon-sq-ft-total"></i>Starts at
                                <span>{{finished_sqr_ft}} sq. ft</span>
                                <i id="tooltip" class="icon icon-help" data-ot="Price does not include land and varies depending on options selected."data-ot-style="glass"></i>
                            </li>


                            <li>
                                <i class="icon icon-sq-ft-main-floor"></i>Main Floor
                                <span>{{main_sqr_ft}} sq. ft.</span>
                            </li>

                            <li><i class="icon icon-price"></i><span>Priced From </span> ${{base_price}}k
                                <i id="tooltip" class="icon icon-help" data-ot="Price does not include land and varies depending on options selected."data-ot-style="glass" ></i>
                            </li>
                        </ul>
                        <a class="button blue" href="">Get More Info</a>
                    </div> <!-- plan-meta-bottom -->
                </div> <!-- plan-meta -->
            </div><!-- plan-window-left -->
        </div> <!-- plan-window-wrapper -->
    </section>
</div>
